<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.azas.domain.auth.mapper.RefreshTokenMapper">

    <insert id="insert"
            parameterType="com.azas.domain.auth.entity.RefreshToken"
            useGeneratedKeys="true"
            keyProperty="refreshTokenId"
            keyColumn="refresh_token_id">
        INSERT INTO refresh_token (
            member_id,
            token_hash,
            expires_at
        ) VALUES (
                     #{memberId},
                     #{tokenHash},
                     #{expiresAt}
                 )
    </insert>

</mapper>