<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.azas.domain.timecapsule.mapper.TimeCapsuleExportMapper">

    <select id="findOutputObjectKeysByTimeCapsuleIdForUpdate"
            resultType="string">
        SELECT output_object_key
        FROM time_capsule_export
        WHERE time_capsule_id = #{timeCapsuleId}
          AND output_object_key IS NOT NULL
          AND output_object_key != ''
        FOR UPDATE
    </select>

    <delete id="deleteByTimeCapsuleId">
        DELETE FROM time_capsule_export
        WHERE time_capsule_id = #{timeCapsuleId}
    </delete>

</mapper>
